*{
    margin: 0 ;
    padding: 0;
}
h2{
    font-family: 'Archivo';
    

}
p{
    font-family: 'Nunito';
}
.section-one{
    background-image: url(./img/back1.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 109vh;
    top: 0;
    left: 0;
    
}
.header-one{
    
    background: linear-gradient(rgba(0, 1, 0, 1.16), rgba(0, 0, 0, 0.16));
    border-radius: 7px;
    
    
}
.container{
    width: 90%;
    margin: 0 auto;
   
}
.container-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img{
    width: 25%;
}

ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 'times new roman';
}

li{
    margin-left: 2em;

}
ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
li a:hover{
    color: #f64b3d;
}
.hero{
    
    margin:10em auto;
    width: 90%;
    
}
.hero h2{
    font-size: 4rem;
    color: white;
    font-weight: bold;
}
.hero p{
    font-size: 1.5rem;
    color: white;
    margin-top: 1em;
    width: 37%;
}

@media (max-width: 600px){
    .section-one{
        background-image: url(./img/back1.png);
        background-size: cover;
    }
    .hero{
        display: flex;
        flex-direction: column;
        font-size: .75em;
        width: 60%;
        margin:0 auto;
    }
    .hero h2{
        font-size: 3em;
        color: white;
    }
    .hero p{
        text-align:left;
        width: 100%;
        font-size: 1rem;
    }
  ul{
      padding: 2em;
      display: flex;
      flex-direction: column;
  }
  .hero .btn-order1 a{
    font-size: 2em;
  }

  
}
.section-two{
    text-align: center;
    color: #f64b3d;
    padding: 5em;
    background-image: url(./icon/Design.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-color: #f6eedf;
    
}
.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5em auto;
    width: 90%;
}
.section-two h2{
    font-size: 3rem;
    line-height: 2em;

}
.section-two h6{
    line-height: 2em;
    font-weight: lighter;
}
.section-two p{
    width: 40%;
    margin: 0 auto;
}
.img-0ne img{
    border-radius: 200px;
}
@media (max-width:600px){
    .container-img{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin: 0 auto;
        
    }
    .img-0ne{
        margin-top: 2em;
        width: 80%;

    }
    .section-two p{
        width: 100%;
    }
    .section-two{
    background-image: url(./icon/Design.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    }
}
.section-three{
    background-color: #f64b3d;
    padding: 5em 0;

}
.container-burger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
        
}
.burger-img{
      width: 40%;
      margin: 0 2em;
          
}
.burger-img img{
    width: 80%;    
    border-radius: 200px;
}
.burger-text{
    
    width: 40%;
    margin: 1em 2em;

}
.burger-text h2{
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
}
.burger-text p{
    color: #ffffff;
    width: 95%;
    font-size: 1.2rem;
}
.btn-order1 a {
    width: 20%;
    padding:.6em 1.5rem;
    text-decoration: none;
    background: #ffffff;
    border-radius: 25px;
    color: #f64b3d;
    font-weight: bold;
   
}
 .btn-order1 a:hover{
    background: #ffe5e3;
}
@media (max-width:600px){
    .container-burger{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       
        
    }
    .burger-text {
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
    }
    .burger-img{
        width: 80%;
    }
    
}
.section-four{
    background-color: #f6eedf;
    padding: 5em 0;
    background-image: url(./icon/Design3.gif);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    

}
.container-burger-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
.burger-text1{
    color: #f64b3d;
    width: 50%;
    margin: 2em;
    
}
.burger-text1 h2{
    font-size: 2rem;
    margin-bottom: 1em;
}
.burger-text1 p{
    width: 100%;
    font-size: 1.2rem;
    
}
.btn-order2{
    
    width: 100%;
    
}
.btn-order2 a{

    width: 20%;
    padding:.6em 1.5em;
    text-decoration: none;
    background: #f64b3d;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s ease;
    
}
.btn-order2 a:hover{
    background: #c2463b;
}
.burger-img-one{
    
    width: 35%;
    margin: 2em ;
}
.burger-img-one img{
    width: 100%;
    border-radius: 200%;
}
@media (max-width:600px){
    .section-four{
        background-color: #f6eedf;
        background-image: url(./icon/Design1.gif);
        background-repeat: no-repeat;
        background-position: center;
    
    }
    .container-burger-two{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        
    }
    .burger-text1{
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;;
    }
    .burger-img-one{
        width: 80%;
        
    }
    .btn-order a{
        
        padding: 2em;
    }
}
.section-five{
    background-color: #f64b3d;
    padding: 5em;
    text-align: center;
    
}
.stats-text h2{
    font-size: 3rem;
    margin-bottom: 1em;
    color: #ffffff;
}
.stats-text p{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    color: #ffffff;
}
.container-stats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
    width: 90%;
        
}
.numbers{
    border: 2px solid white;
    border-radius: 50%;
    margin: 1em auto;
    padding: 4.5em;
    color: #ffffff;
}
.numbers h2{
    font-size: 3em;
    
}
.numbers h6{
    font-size: .85em;
}
.stats-text{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.stats-text p{
    text-align: center;
}
@media (max-width: 600px){
    .stats-text {
        width: 100%;
        margin: 0 auto;
        padding: 2em 0;
        font-size: 1rem;
    
    }
    .stats-text p{
        width: 100%;
    }
}
.section-six{
    background: #f6eedf;
    color: #f64b3d;
    text-align: center;
    padding: 4em 0;
    background-image: url(./icon/Design4.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-six h2{
    font-size: 3rem;
}
.container-package{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2em;

    

}
.packages{
    background: #ffffff;
    margin: 2em auto;
    width: 20%;
    padding: 1.5em 0;
}
.packages h6{
    margin: .5em;
    font-size: 1rem;
    color: #f64b3d;
}
.packages p{
    color: #f64b3d;
    
}
@media (max-width:600px){
    .container-package{
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }
    .packages{
        background: #ffffff;
        margin: 2em auto;
        width: 50%;
        padding: 1.5em 0;
    }
}
.section-seven{
    background-image: url(./img/image.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5em 0;
    height: 60vh;

}
.description{
    width: 90%;
    margin: 10em auto;
    
}
.des-text{
    margin: 6em;
    text-align: center;
    color: #ffffff;
}
.des-text p{
    font-size: 2rem;
    font-weight: bold;
}
.des-text h2{
    font-size: 3rem;
    line-height: 2em;
}
    @media (max-width:600px){
        
    .des-text{
        margin: 2em;
        text-align: center;
        color: #ffffff;
    }
    .des-text p{
        font-size: 1em;
        text-align: center;
    }
    .des-text h2{
        font-size: 2rem;
        line-height: 2em;
    }
    .description{
        width: 90%;
        margin: 5em auto;
        
    }
}
.section-eight{
    background: #f6eedf;
    color: #f64b3d;
    text-align: center;
    padding: 4em 0;
    background-image: url(./icon/Design4.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.des-text1{
    margin: 6em;
    text-align: center;
    color: #f64b3d;
}
.des-text1 p{
    font-size: 2rem;
}
.des-text1 h2{
    font-size: 3rem;
    line-height: 2em;
}
#subscribe{
    padding: .75em;
    border-radius: 25px 0 0 25px;
    border: none;
}
.sub-btn{
    background-color: #f64b3d;
    border-radius:0 25px  25px 0 ;
    border: none;
    cursor: pointer;
    padding: .80em 2em;
    transition: 0.3s ease;
    color: #ffffff;

}
.sub-btn:hover{
    background-color: #c2463b;
}
@media (max-width:600px){
    .des-text1{
        margin: 2em;
        text-align: center;
        color: #f64b3d;
    }
    .des-text1 p{
        font-size: 2rem;
    }
    .des-text1 h2{
        font-size: 1.5rem;
        line-height: 1em;
    }
    .des-text1 p{
        font-size: 1rem;
        margin-top: 2em;
    }
}
.section-nine{
    background-color: #222222;
    padding: 6em;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 2em;
}
.footer-text1{
    width: 40%;
    color: #ffffff;
}
.footer-text1 h6{
    font-size: 1.5rem;
    
}
.footer-text1 p{
    width: 70%;
    line-height: 2em;
}
.footer-text{
    width: 15%;
    color: #ffffff;
    margin-right: 2em;
}
.footer-text a{
    text-decoration: none;
    color: #ffffff;
}
.footer-text p{
    line-height: 2em;
}
.footer-text h6{
    font-size: 1.5rem;
    
}
.footer-img{
    width: 60%;
    margin:1em 0;
}
.footer-img img{
    width: 15%;
    margin:0 .2em;
}
@media (max-width:600px){
    .container-footer{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 2em;
    }
    .footer-text1{
        width: 100%;
        color: #ffffff;
        margin-bottom: 2em;
        text-align: center;
    }
    .footer-text1 p{
        width: 100%;
        line-height: 2em;
    }
    .footer-text{
        width: 100%;
        color: #ffffff;
        margin-top: 2em;
        text-align: center;
    }
    .footer-img{
        width: 50%;
        margin:0 auto;
        align-items: center;
        margin-top: 2em;
    }
}